.headBar {
  background-color: #FFBF00;
  width: 100vw;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headSmallBar {
  background-color: orange;
  width: 100vw;
  height: 1vh;
}

.headBar>span {
  font-weight: 600;
  font-size: xx-large;
  cursor: pointer;
}

.title {
  font-weight: 600;
  font-size: xx-large;
  cursor: pointer;
  margin-right: 104vh;
}