.outerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 90vh;
    width: 100vw;
}

.innerDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    padding: 2vh;
    border-radius: 1vh;
    height: 40vh;
    width: 20vw;
    border: 8px solid rgb(0, 201, 201);
    border-radius: 0.7vh;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
}